@use "sass:math";
@import "variables";
@import "functions";

@mixin container($max-width: $container-max-width) {
  display: block;
  width: 100%;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
}

@mixin desktop-only() {
  display: none;

  @include desktop-min {
    display: block;
  }
}

@mixin square($value) {
  width: $value !important;
  height: $value !important;
}

@mixin hover() {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin gradient-border-mask-content($border-width, $border-color) {
  & {
    position: absolute;
    background: $border-color border-box;
    border: $border-width solid transparent;
    border-radius: inherit;
    content: '';
    pointer-events: none;
    inset: 0;
    mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }
}

@mixin gradient-border-mask($border-width, $border-color, $useAfter: false) {
  position: relative;

  @if $useAfter {
    &::after {
      @include gradient-border-mask-content($border-width, $border-color);
    }
  } @else {
    &::before {
      @include gradient-border-mask-content($border-width, $border-color);
    }
  }
}
