// color
$red: #e31e24;
$black: #000;
$white: #fff;
$blue: #4d4de7;
$green: #53b483;
$orange: #f67b35;
$purple: #2B1252;
$grey: #fafafa;

// Transition
$transition-default: 0.15s;
$transition-normal: 0.3s;

// Timing functions
$timing-function-default: ease;

// container
$container-max-width: 1440px;

// viewport breakpoint
$mobile-xs-max: 359px;
$mobile-max: 575px;
$mobile-min: 576px;
$tablet-max: 743px;
$tablet-min: 744px;
$desktop-max: 1023px;
$desktop-min: 1024px;
$desktop-xl-max: 1889px;
$desktop-xl-min: 1890px;

// fonts
$font-size-root-default: 16px;

// z-index
$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-6: 6;
$z-modals: 7;
$z-overmodals: 10000;
